
.img-hero {
    height: 700px;
    background-color: #f3f3f3;
}



.wrap-card-partner {
    margin-right: -10px;
}


// title
.bg-title-welcome {
    background-color: $l-gray;
}
.title-welcome {
    padding: 50px 0;
    .title {
        font-size: 16px;
        font-weight: 600;
        line-height: 1.3;
        margin-bottom: 15px;
    }
    .des {
        font-size: 15px;
        line-height: 1.5;
    }
}
.title-list {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 50px;
    font-size: 20px;
    background-color: $blue;
    background-image: linear-gradient(to right top, #004493 , #1764a8);
    margin-bottom: 15px;
}
.title-blue,
.title-Lblue {
    color: $blue;
    font-size: 25px;
    text-align: left;
    display: block;
    margin-bottom: 35px;
    line-height: 1.25;
    font-weight: 600;
}
.title-Lblue {
    color: $l-blue;
}

.title-list-contact {
    color: $blue;
    font-size: 22px;
    display: block;
    margin-bottom: 30px;
    text-align: center;
}
.title-form {
    color: $blue;
    font-size: 21px;
    display: block;
}
.title-systeam {
    margin-bottom: 5px !important;
}
.title-t {
    margin-top: 15px !important;
}

// form
.form-contact {
    padding: 20px 0 0;
    input {
        height: 40px;
        padding: 0 15px;
        width: 100%;
    }
    textarea {
        padding: 15px;
        width: 100%;
      
    }
    input,textarea {
        border: 1px solid #d9d9d9;
        font-size: 15px;
        margin-bottom: 10px;
    }
    .wrap-input {
        display: flex;
    }
    .btn-submit {
        font-size: 15px;
        border: none;
        background-color: $green;
        color: white;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 100%;
        cursor: pointer;
        &:hover,&:active {
            background-color: darken($green, 4%);
        }
    }
}
.form-job-us {
    font-size: 16px;
    label {
        margin-bottom: 10px;
    }
    input,textarea {
        margin-bottom: 10px;
    }
    input {
        height: 40px;
        padding: 0 15px;
        width: 100%;
    }
    textarea {
        width: 100%;
        padding: 15px;
        height: 150px;
    }
    button {
        border: none;
        background-color: $blue;
        color: white;
        height: 40px;
        text-align: center;
        line-height: 40px;
        width: 100%;
        font-size: 16px;
        cursor: pointer;
        &:hover,&:active {
            background-color: lighten($blue, 5%);
        }
    }
    .wrap-input {
        display: flex;
        flex-wrap: wrap;
    }
}
.form-find-job {
    background-color: $l-gray;
    padding: 20px 20px 30px;
    .title {
        margin-bottom: 10px;
    }
    select {
        width: 100%;
        height: 45px;
        border: 1px solid $blue;
        padding: 0 15px;
        font-size: 15px;
        &:not(:nth-last-child(1)){
            margin-bottom: 15px;
        }
    }
    button[type="submit"] {
        border: none;
        display: block;
        width: 100%;
        text-align: center;
        height: 40px;
        line-height: 40px;
        cursor: pointer;
        background-color: $l-blue;
        color: white;
        font-size: 17px;
        &:hover,&:active {
            background-color: darken($l-blue, 5%);
        }
    }
}

// Card-partner body theme
.card-partner_body {
    &[data-theme ="blue"] {
        background-image: linear-gradient(to right top, #004493 , #1764a8);
      
    }
    &[data-theme ="white"] {
        background-color: white;
        color: black;
    }
    &[data-theme ="green"] {
        background-image: linear-gradient(to right top, #007427 , #2da544);
    }
    &[data-theme ="black"] {
        background-image: linear-gradient(to right top, #353535 , #515151);
    }
    
}
.card-partner_body {
    padding: 18px 15px;
    color: white;
    >h2 {
        font-size: 19px;
        margin: 0 0 15px;
    }
}
.card-partner {
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #d9d9d9;
    &:hover,&:active {
        .card-partner_img {
            overflow: hidden;
            display: block;
            img {
                transform: scale(1.1);
                transition: transform .25s ease-out;
            }
        }
    }
}
.card-customer {
    .title {
        color: $blue;
        font-weight: 600;
        line-height: 1.1;
        margin-bottom: 10px;
    }
}


.card-normal {
    margin-right: 10px;
    margin-top: 10px;
    .image {
        img {
            margin: 0 auto;
        }
    }
    .title {
        color: $blue;
        margin: 20px auto 15px;
        font-size: 23px;
        line-height: 1;
        text-align: center;
    }
}


.wrap-box-square {
    margin-right: -10px;
}
// box-square  theme
.box-square {
    &[data-theme="green"]{
        .title {
            background-color: #007427;
        }
        &:hover,&:active {
            .title {
                background-color: darken(#007427, 3%);
            }
        } 
    }
    &[data-theme="brown"]{
        .title {
            background-color: #925b22;
        }
        &:hover,&:active {
            .title {
                background-color: darken(#925b22, 3%);
            }
        }
    }
    &[data-theme="dark-brown"]{
        .title {
            background-color: #855420;
        }
        &:hover,&:active {
            .title {
                background-color: darken(#855420, 3%);
            }
        }
    }
    &[data-theme="blue"]{
        .title {
            background-color:$l-blue;
        }
        &:hover,&:active {
            .title {
                background-color: darken(#0079b2, 3%);
            }
        }
    }
}
.box-square{
    width: 50%;
    position: relative;
    width: 100%;
    height: 300px;
    background-color: $l-gray;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: 10px solid white;
    border-right: 10px solid white;
    .title {
        color: white;
        text-align: center;
        font-size: 18px;
        padding: 5px 0 ;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center; 
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }
}

.box-square.h100 {
    height: 100%;
    width: 100%;
    margin-left: auto;
    &[data-theme] {
        >figure {
            height: 300px;
        }
    }
}


// list

.main-list {
    background-color: $l-gray;
    color: black;
    padding: 15px 0;
    font-weight: 400;
    a {
        color: inherit;
        padding: 7px 0;
        display: flex;
        align-items: center;
        padding-left: 25px;
        background-color: $l-gray;
        font-weight: inherit;
        &:hover,&:active {
            color: lighten(#333, 5%);
            background-color: darken($l-gray, 3%);
            transition: background-color .1s ease;
        }
    }
}
.main-list-white {
    background-color: white;
    a {
        border-bottom: 1px solid #d9d9d9;
        background-color: white;
    }
}
.main-list-jobUs {
    a {
        pointer-events: none;
        p {
            &:nth-child(1){
                margin-right: 5px;
                color: $l-blue;
            }
        }
    }
}
.list-contact {
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 35px;
    padding-bottom: 35px;
    li {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        &:not(:nth-last-child(1)){
            margin-bottom: 20px;
        }
    }
    i {
        display: block;
        background-color: $blue;
        background-image: linear-gradient(to right top, #004493 , #1764a8);

        color: white;
        min-width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        font-size: 17px;
        border-radius: 50%;
        margin: 0 0 15px;
    }
    a {
        display: flex;
        p {
            &:nth-child(1){
                // width: 45px;
                // margin-right: 5px;
            }
        }
    }
}
.order-list {
    list-style-type:decimal;
    list-style-position: inside;
    >li {
        padding-left: 30px;
        text-indent: -15px;
        margin-left: -20px;
        margin-bottom: 5px;
    }
}
.business-list {
    >li {
        line-height: 1.1;
        margin-bottom: 5px;
        position: relative;
        display: flex;
        align-items: flex-start;
        &:before {
            content: '';
            display: block;
            width: 10px;
            height: 10px;
            background-color: black;
            border-radius: 50%;
            margin-right: 8px;
            margin-top: 4px;
        }
    }
}

// bg
.bg-contact-form {
    background-image: url(../../dist/img/banner/contact.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 30px;
    padding-bottom: 50px;
}

// gallery
.grid-project-gallery {
    margin: 0 auto;
}
.grid-project-gallery_item {
    margin-bottom: 10px;
}

// map google
.g-map {
    line-height: 0;
    iframe {
        width: 100%;
    }
}




// button
.btn-blue {
    background-color: $l-blue;
    color: white;
    padding: 0 25px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    &:hover,&:active {
        background-color: darken($l-blue, 8%);
    }
}
.btn-dBlue {
    background: $blue;
    &:hover,&:active {
        background-color: darken($blue, 8%);
    }
}
.btn-download {
    &:before {
        content: '\f381';
        font-family: "Font Awesome 5 Pro";
        margin-right: 25px;
        display: inline-block;
        font-size: 30px;
    }
   
}
.btn-m50 {
    margin-top: 50px;
}

// custom row
.row-box-sitemap {
    margin-top: 25px;
    margin-bottom: -70px;
}
.row-card-person {
    margin-right: -15px;
    margin-bottom: -15px;
}
.row-system {
    background: $l-gray url(../../dist/img/bg-management-system.png) center/cover no-repeat;
    p,ol {
        margin-bottom: 15px;
    }
}
.row-card-normal {
    margin-right: -10px;
}
.row-text-system {
    margin-top: 20px;
}






// share social
.info {
    margin-bottom: 15px;
    .date {
        font-size: 15px;
    }
}
.hero-img-detail {
    margin-bottom: 15px;
}
.social-share {
    a {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        margin-left: 10px;
        border-radius: 50%;
    }
}
.social-share_s {
    background-color: white;
    color: $blue !important ;
    &:hover,&:active {
        color: darken($blue, 5%);
    }
}
.social-share_f {
    background-color: #3b5998;
    &:hover,&:active {
        background-color: darken(#3b5998, 5%);
    }
}
.social-share_t {
    background-color: #1da1f2;
    &:hover,&:active {
        background-color: darken(#1da1f2, 5%);
    }
}
.social-share_g {
    background-color: #dd4b39;
    &:hover,&:active {
        background-color: darken(#dd4b39, 5%);
    }
}

// card
.card-about {
    background-color: #f3f3f3;
    color: #333;
    padding: 40px 25px;
    position: relative;
    z-index: 2;
    .title {
        color: $blue;
        border: 2px solid $blue;
        border-top: 0;
        border-bottom: 0;
        display: inline-block;
        padding: 0 15px;
        line-height: 1;
        margin-bottom: 30px;
        font-size: 22px;
    }
    .mini-title {
        margin-bottom: 10px;
    }
    .des {
        color: #333;
        text-indent: 15px;
        line-height: 1.35;
    }
}

.card-person-one {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    .wrap-text {
        order: 2;
        flex: 1;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-image: linear-gradient(to right top, #004493 , #1764a8);
        padding: 40px 15px;
    }
    img {
        width: auto;
    }
}

.card-person {
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-right: 15px;
    margin-bottom: 15px;
    img {
        margin: 0 auto;
    }
    .title,.des {
        line-height: 1;
    }
    .title {
        margin: 15px 0 5px;
        font-size: 17px;
        font-weight: 600;
    }
    .des {
        font-size: 15px;
    }
}


.card-culture {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .title {
        line-height: 1.4;
        font-size: 20px;
    }
    .mini-title {
        font-size: 18px;
        color: $l-blue;
    }
    .des {
        font-size: 16px;
        line-height: 1.2;
    }
}


.wrap-contact-job {
    background-image: linear-gradient(to right top, #004493 , #1764a8);
    padding: 20px 15px;
    color: white;
}
.contact-job {
    .mini-title {
        font-size: 16px;
    }
    .title {
        font-size: 16.5px;
        margin: 5px 0;
        font-size: 19px;
    }
    a {
        &:hover,&:active {
            text-decoration: underline;
        }
    }
}
.contact-job_list {
    margin-top: 25px;
    a {
        border: 1px solid white;
        border-radius: 25px;
        text-align: center;
        padding: 10px 0;
        &:not(:nth-last-child(1)){
            margin-bottom: 15px;
        }
        &:hover,&:active {
            background-color: white;
            color: $blue;
        }
    }
}


.wrap-post-job {
    margin-top: 25px;
}
.post-job {
    background-color: white;
    border: 1px solid transparent;
    padding: 30px 15px;
    position: relative;
    border-bottom: 1px solid #d9d9d9;
    >* {
        flex: 1;
    }
    .wrap-title {
        flex: 1.5 1 100px;
    }
    .mini-title {
        font-size: 15px;
        color: $l-blue;
    }
    .title {
        font-size: 17px;
        line-height: 1.2;
    }
    .btn {
        width: 100%;
        text-align: center;
        height: 30px;
        line-height: 30px;
        color: white;
        background-color: $l-blue;
        flex: .5;
    }
    &:hover,&:active {
        box-shadow: 1px 0px 19px 0px #dde3ea;
        border-bottom-color: white;
        transition: box-shadow .1s ease;
        z-index: 2;
        transform: scale(1.015);
        .btn {
            background-color: darken($l-blue, 6%);
        }
    }
}



.wrap-title-job-us {
    margin: 15px 0 30px;
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 15px;
    .title-blue {
        margin-bottom: 0;
        line-height: 1;
    }
    .mini-title-Lblue {
        font-size: 15px;
        color: $l-blue;
    }  
    .btn-blue {
        height: 30px !important;
    }
}

.jobUs-map-g {
    width: auto;
    display: inline-block;   
    .title {
        font-size: 18px;
        margin-bottom: 5px;
        font-weight: 600;
    }
} 

.wrap-slider-home {
    position: relative;
    img {
        background-color: transparent;
    }
    .img-slider-home {
        position: absolute;
    }
    .img-slider-home-1 {
        top: 0;
        left: 0;
        img {
            max-width: 340px;
            
        }
    }
    .img-slider-home-2 {
        right: 0;
        bottom: -5px;
        img {
            max-width: 90px;
        }
    }
}

.slider-about {
    .slick-slide {
        outline-color: transparent;
    }
}
.banner-slider {
    margin-bottom: 30px;
}
.banner-slider_item {
    
}
.banner-slider_item-bg {
    flex: 1;
    background-image: url(../../dist/img/blue-banner-our-business.png);
    color: white;
    padding: 50px 15px;
    .title {
        border-left: 2px solid white;
        padding: 0 15px;
        line-height: 1.2;
        font-size: 17px;
    }
}

.wrap-dot-about {
    min-width: 600px;
    width: 100%;
    overflow-x: scroll;
    margin: 0 auto;
    position: relative;
    display: table;
}
.dot-about {
    display: flex;
    width: 100%;
    margin: 30px 0;
    >li {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        cursor: pointer;
        &:before {
            content: '';
            position: absolute;
            top: 15px;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: #d9d9d9;
        }
        &:nth-child(1) {
            &:before {
                left: 50%;
            }
        }
        &:nth-last-child(1){
            &:before {
                width: 50%;
            }
        }
        &.active {
            pointer-events: none;
            .dot-about_cycle {
                background-color: $green !important;
                border-color: $green !important;
                transition: background-color .15s ease-out;
                &:before {
                    border-color: white !important;
                }
            }
        }
        &:hover {
            color: $blue;
        }
    }
    p {
        font-size: 15px;
        text-align: center;
    }
    
}
.dot-about_cycle {
    width: 30px;
    height: 30px;
    display: block;
    background-color: $blue;
    position: relative;
    z-index: 2;
    padding: 4px;
    border: 2px solid $blue;
    border-radius: 50%; 
    margin-bottom: 8px;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        border: 4px solid white;
        border-radius: 50%; 
    }
}
.slider-about {
    margin-top: 40px;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 20px;
    padding-bottom: 20px;
    &_body {
        max-width: 600px;
        
    }
    .image {
        height: 200px;
        width: 400px;
        max-width: 100%;
        display: block;
        background-color: #d9d9d9;
    }
    .title {
        color: #333;
        margin: 10px 0 5px;
        line-height: 1.3;
    }
    .des {
        color: #333;
    }
    .mini-title {
        color: $blue;
        margin-top: 4px;
    }
    .btn {
        margin-top: 14px;
        color: white;
        background-color:$l-blue;
        display: inline-flex;
        width: 120px;
        height: 40px;
        justify-content: center;
        align-items: center;
    }
    &:hover,&:active {
        .btn {
            background-color: darken(#0079b2, 3%);
        }
    }
}

.wrap-news {
    margin-right: -15px;
}
.news {
    margin-bottom: 35px;
    margin-right: 15px;
    &_body {
        padding: 0 12px;
    }
    .title {
        font-size: 19px;
        margin-top: 15px;
    }
    .des {
        font-size: 16px;
        display: block;
        margin: 5px 0 20px;
        line-height: 1.2;   
    }
    .date {
        color: #969696;
        font-size: 15px;
    }
    .btn {
        background-color:$l-blue;
        color: white;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 35px;
    }
    &:hover,&:active {
        .btn {
            background-color: darken($l-blue,3%);
        }
    }
}

.wrap-box-contact {
    padding: 50px 0 40px;
    background-color: #f3f3f3;
    background: #f3f3f3 url(../../dist/img/bg-contact-us.png) center/cover no-repeat fixed;
}

.box-contact {
    background-color: white;
    padding: 25px 15px;
    margin: 0 0 10px;
    .title {
        color: $blue;
        padding-bottom: 25px;
        margin-bottom: 25px;
        border-bottom: 1px solid #d9d9d9;
        text-align: center;
        font-size: 19px;
    }
    .name {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 15px;
    }
    a {
        
        font-size: 15px;
        p {
            display: inline-block;
            font-weight: 400;
        }
        &:hover,&:active {
            color: darken($blue, 8%);
        }
    }
}

.box-sitemap {
    .title {
        color: $blue;
        font-size: 25px;
        margin-bottom: 15px;
    }
}

.box-sitemap_list {
    margin-bottom: 70px;
    a  {
        margin-bottom: 10px;
        position: relative;
        display: flex;
        align-items: center;
        &:before {
            content: '';
            display: inline-block;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: black;
            margin-right: 10px;
        }
        &:hover,&:active {
            color: $l-blue;
            &:before {
                background-color: $l-blue;
            }
        }
    }
}

.video-y {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}



.wrap-text-jobUs {
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 20px;
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 16px;
    .c-blue {
        font-weight: 600;
        font-size: 18px;
    }
}



.text-system {
    .title {
        text-align: left;
        font-size: 17px;
        font-weight: 600;
        margin-bottom: 15px;
    }
}

.box-business {
    .title {
        margin-bottom: 15px;
        font-weight: 600;
    }
}
.business-images {
    margin-top: 15px;
    margin-bottom: -5px;
    figure {
        padding: 5px;
    }
}

.business-contact{
    margin-top: 30px;
    color: #333;
    .title {
        font-size: 23px;
        font-weight: 600;
        color: $blue;
        margin-bottom: 10px;
    }
    .des {
        font-size: 17px;
        font-weight: 600;
        color: black;
        margin-bottom: 10px;
    }
    a {
       
        >p {
            width: 50px;
            display: inline-block;
        }
        &:hover,&:active {
            text-decoration: underline;
        }
    }
}
.human-managenment {
    background-color: transparent !important;
    margin-bottom: 30px;
    max-width: 170px;
    margin: 0 auto;
}


