.main-footer {
    background-color: #333333;
    background-image: url(../../dist/img/footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 30px 0;
    margin-top: 50px;
    a,.line {
        color: white;
        font-size: 16px;
    }
    .line {
        margin: 0 14px;
    }
}
.footer_address {
    margin: 20px 0;
    font-size: 15px;
}
.logo-footer {
    background-color: transparent;
    max-width: 105px;
}
.footer_social {
    margin-top: 30px;
    a {
        text-align: center;
        font-size: 20px;
        width: 50px;
        height: 50px;
        line-height: 50px;
        border-radius: 50%;
        &:nth-child(1){
            margin-right: 15px;
        }
        &:hover,&:active {
            background-color: white;
            color: #333333;
        }
    }
}