// fix Header mobile and destop
.padding-HeaderWeb {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
}
// mobile
.header {
    background-color: white;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .055);
    width: 100%;    
    z-index: 5;
    position: sticky;
    top: 0;
    left: 0;
}
.header-box {
    height: 50px;
    
}
// style nav mobile
.mm-menu {
    background-color: white !important;
}
// destop
.top-nav {
    background-color: #353535;
    a {
        color: darken(white, 18%);
        font-weight: 300;
        &:hover,&:active {
            color: white;
        }
    }
    i {
        color: darken(white, 18%);
    }
}
.top-nav_menu {
    overflow: visible;
    >li {
        position: relative;
        display: inline-flex;
        align-items: center;
        >a {
            margin-left: 20px;
            font-size: 16px;
            padding: 10px 0;
        }
        >i {
            margin-left: 7px;
        }
        &:hover {
            >a,i {
                color: white;
            }
            >.top-nav_sub {
                max-height: 500px;
                transition: max-height .6s ease-out;
            }
        }
    }
}
.top-nav_sub {
    position: absolute;
    left: 15px;
    bottom: 0;
    width: 100%;
    color: black;
    background-color: #353535;
    max-height: 0;
    overflow: hidden;
    transform: translateY(100%);
    z-index: 3;
    >li {
        >a {
            padding: 4px 8px;
        }
    }
}
.main-nav_logo {
    max-width: 150px;
    background-color: white;
}
.main-nav_logo--mobile {
    background-color: white;
    max-width: 125px;
}
.main-nav {
    background-color: white;
    box-shadow: 1px 1px 1px 1px rgba(black,.025);
}
.main-nav_menu {
    li.active {
        a {
            &:before {
                width: 100% !important;
            }
        }
    }
    a {
        color: #353535;
        font-size: 16px;
        margin-left: 10px;
        position: relative;
        padding-bottom: 5px;
        padding: 30px 0;
        &:before {
            content: '';
            position: absolute;
            left: 0;
            bottom: 25px;
            width: 0;
            height: 2px;
            background-color: lighten(#353535, 20%);
            border-radius: 40px;
        }
        &:active,&:hover {
            color: darken(#353535, 18%);
            &:before {
                width: 100%;
                transition: width .2s ease-out;
            }
        }
    }
}

.breadcrumb {
    background-color: $l-gray;
    height: 45px;
    padding: 0 25px;
    color: #333;
    margin: 15px 0;
    a {
        margin-right : 10px;
        &:after {
            content: '\f105';
            font-family: "Font Awesome 5 Pro";
            display: inline-block;
            margin-left: 10px;
        }
        &:nth-last-child(1){
            &:after {
                display: none;
            }
        }
        &.active {
            color: $blue;
            pointer-events: none;
        }
        &:hover,&:active {
            text-decoration: underline;
        }
    }
}

.pagination {
    background-color: transparent;
    display: flex;
    a {
        width: 30px;
        height: 30px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $blue;
        margin-left: 8px;
        &.active {
            background-color: $blue;
            color: white;
            pointer-events: none;
        }
        &:hover,&:active {
            background-color: lighten($blue, 8%);
            color: white;
        }
    }
}

.banner {
    height: 250px;
    background-color: #f9f9f9;
    padding: 0 50px;
    margin: 0 0 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    h1 {
        color: white;
    }
}
.banner-ourproject {
    background-image: url(../../dist/img/banner/ourprojects.jpg);
}

.banner-news {
    background-image: url(../../dist/img/banner/newsdetail.jpg);
}

.banner-jobUs {
    background-image: url(../../dist/img/banner/jobdetail.jpg);
}
.banner-about {
    background-image: url(../../dist/img/banner/aboutitalthai.jpg);
}
.banner-system {
    background-image: url(../../dist/img/banner/managementsystem.jpg);
}
.banner-information {
    background-image: url(../../dist/img/banner/information.jpg);
}


.banner-slider {
    position: relative;
    .slick-dots {
        display: flex;
        margin: 5px;
        position: absolute;
        bottom: 0;
        right: 0;
        li.slick-active {
            button {
                background-color: white;
            }
        }
        button {
            border: none;
            font-size: 0;
            height: 15px;
            width: 15px;
            border-radius: 50%;
            padding: 0;
            margin-right: 5px;
            cursor: pointer;
            outline-color: transparent;
            background-color: #d9d9d9;
        }
    }
}

.banner-slider_item {
    display: flex;
    flex-direction: column;
}






