@media screen and (min-width: 768px){
    .text-md-center {
        text-align: center !important;
    }
    .text-md-left {
        text-align: left !important;
    }
    .text-md-right {
        text-align: right !important;
    }
    .project {
        flex-direction: row;
        &_body {
            padding-left: 30px;
        }
    }
    .title-form {
        font-size: 23px;
    }
    .list-contact {
        li {
            text-align: left;
            flex-direction: row;
        }
        i {
            margin: 0 15px 0 0;
        }
    }
    .row-box-contact {
        margin-right: -10px;
    }
    .box-contact {
        margin-right: 10px;
    }
    .post-job {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .wrap-title {
            width: 50%;
        }
        .btn {
            width: auto;
            padding: 0 20px;
        }
    }
    .title-list-contact {
        font-size: 25px;
        text-align: left;
    }
    .form-job-us {
        max-width: 600px;
        input,textarea {
            margin-bottom: 15px;
        }
        .wrap-input {
            flex-wrap: nowrap;
            input {
                &:nth-child(2){
                    margin-left: 15px;
                }
            }
        }
        button {
            max-width: 170px;
        }
    }
    .card-person-one {
        flex-direction: row;
        .wrap-text {
            order: -1;
            width: 100%;
        }
    }
    .con-card-culture {
        .row-card-culture {
            &:nth-last-child(1){
                >.col-md-6 {
                    &:nth-last-child(1){
                        order: -1;
                    }
                }
            }
        } 
     }
     .card-culture {
         padding: 0 8px;
     }
     .banner-slider_item {
         flex-direction: row;
         .title {
             
         }
     }
     .box-square {
         width: 50%;
     }
     .box-square.h100 {
         height: 600px;
     }
     .wrap-title-job-us {
         margin: 0 0 30px;
     }
}

@media screen and (min-width: 992px){
    .text-lg-center {
        text-align: center !important;
    }
    .text-lg-left {
        text-align: left !important;
    }
    .text-lg-right {
        text-align: right !important;
    }
    .form-contact {
        input {
            width: 50%;
            &[type="email"]{
                margin-left: 10px;
            }
        }
        .btn-submit {
            max-width: 150px;
        }
    }
    .main-footer {
        margin-top: 65px;
        padding: 50px 0;
    }
    .card-person-one {
       .wrap-text {
        padding: 0 50px
       }
    }
    .box-square {
        height: 200px;
    }
    .box-square.h100 {
        height: 400px;
    }
    .human-managenment {
        max-width: 75%;
    }
}
@media screen and (min-width: 1200px){
    .main-nav_menu {
        a {
            margin-left: 25px;
            font-size: 18px;
        }
    }
    .main-footer {
        margin-top: 80px;
    }
    .card-culture {
        padding: 0 28px;
    }
    .box-square {
        height: 250px;
    }
    .box-square.h100 {
        height: 500px;
    }
}

@media (min-width: 1280px){
    .container {
        max-width: 1250px;
    }
}