@charset 'UTF-8';

$blue: #004493;
$l-blue: #0079b2;
$green: #007427;
$l-gray: #f7f7f7;
html,
body {
    font-size: 16px;
    font-family: 'Prompt', sans-serif;
    font-weight: 300;
}
body {
    overflow-x: hidden;
    line-height: 1.55;
    background-color: white;
}
a {
    color: inherit;
    text-decoration: none;
    display: block;
    &:hover,&:active {
        transition: background-color .1s ease;
    }
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.4rem;
}

h5 {
    font-size: 1.2rem;
}

h6 {
    font-size: 1rem;
}

html,body,h1,h2,h3,h4,h5,h6,p,ol,ul,figure {
    padding: 0;
    margin: 0;
    font-weight: 400;
}
ol,ul {
    list-style: none;
}
input,button,label,textarea,select,option {
    font-family: 'Prompt', sans-serif;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
    background-color: #f1f1f1;
}
.my-0 {
    margin-top: 0;
    margin-bottom: 0;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.m-auto {
    margin: auto;
}
.p-0 {
    padding: 0 !important;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}

.c-blue {
    color: $blue;
}
.text-center {
    text-align: center;
}
.scroll-x {
    overflow-x: auto !important;
}
.scrollx-thin {
    &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px rgb(192, 192, 192); 
        border-radius: 10px;
    }
    
    &::-webkit-scrollbar-thumb {
        background: #d9d9d9;
        border-radius: 5px;
    }
}
.link-h-underline {
    &:active,&:hover {
        text-decoration: underline;
    }
}
// Import
@import 'grid/bootstrap-grid.scss';
@import 'fontawesome-all.min.css';


@import '_head.scss';
@import '_body.scss';
@import '_foot.scss';
@import '_responsive.scss';
